.ask
  .question
    .tumblelog
      .avatar_container
        .avatar_frame
          img.avatar(src=ask.asker.avatars['64'])
      p.tumblelog_name= ask.asker.username
    .question_text.text= ask.question_text
  .response
    .tumblelog
      .avatar_container
        .avatar_frame
          img.avatar(src=ask.responder.avatars['64'])
      p.tumblelog_name= ask.asker.username
    .response_text.text= ask.response_text